@charset "ISO-8859-1";
/* Header  */
.navbar{
	margin-bottom: 0px;
}

.main-container {
    background-image: url(../images/banner.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 30px;
    height: 350px;
    background-position: center;
    width: 100%;
    text-align: center;
}

.main-container h2{
    margin-bottom: 40pt;
    font-size: 36px;
    font-weight: 800;
    text-decoration: underline;
}

/** index page */

.content {
	margin-top: 4em;
}

/** footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
  text-align: center;
}



.error {
	color: red;
	font-style: italic;
	font-weight: bold;
}